body{
margin: 0;
padding: 0;
}

section{
    margin:10px;
    padding:10px;  
}

.container{
    margin:20px;
    padding:20px;
    display: flex;
}

.row{
    margin: auto;
}

h6{
    text-align: right;
}

p:first-of-type{
    text-indent: 10px;
}

